<div class="jumbotron jumbotron-fluid">
  <div class='container'>
    <h1 class="display-4">Select Episodes</h1>
    <p class="lead">Select episodes on the disk that you want to rip to plex</p>
  </div>
</div>
<%= simple_form_for :episodes, url: select_episodes_path do |f| %>
  <div class='row'>
    <% @season.episodes.each do |episode| %>
      <div class="card mb-3 col-md-6 text-white bg-dark col-md-6">
        <div class="row no-gutters">
          <div class="col-md-4"><%= imdb_image_tag episode.still_path %></div>

          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <%= f.fields :selected, model: episode do |form| %>
                  <%= form.check_box :id, { multiple: true, class: 'toggle', checked: false }, episode.id, nil %>
                <% end %>
                #<%= episode.episode_number %>
                <%= episode.name %>
              </h5>

              <p class="card-text"><%= episode.overview %></p>
              <p class="card-text">
                <small class="text-muted">
                  <%= episode.air_date  %>
                  <%= link_to_movie_db_episode(@season.tv.the_movie_db_id, @season.season_number, episode.episode_number) %>
                </small>
              </p>

            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class='fixed-footer'>
      <%= f.button :submit, 'Rip Disk' %>
    </div>

  </div>
<% end %>
