<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Search', root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @tv.name, tv_path(@tv) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @season.name %></li>
  </ol>
</nav>
<hr/>
<%= simple_form_for :episodes, url: rip_tv_season_path(@tv, @season), class: 'pb-4', data: { controller: 'manage-selections' } do |f| %>
  <%= hidden_field_tag :disk_id, @disks.first&.id %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Ripped</th>
        <th>Uploaded</th>
        <th>#</th>
        <th>Name</th>
        <th>Air Date</th>
        <th>Duration</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% EpisodeDiskTitleSelectorService.call(disk: @disks.first, episodes: @season.episodes).each do |title| %>
          <%= hidden_field_tag "episodes[][episode_id]", title.episode.id %>
          <tr>
            <td>
              <%= imdb_image_tag title.episode.still_path, width: 100, height: 100 %>
            </td>
            <td class="text-center">
              <h1>
                <% if title.ripped? %>
                  <%= icon('square-check') %>
                <% else %>
                  <%= icon('square') %>
                <% end %>
              </h1>
            </td>
            <td class="text-center">
              <h1>
                <% if title.uploaded? %>
                  <%= icon('square-check') %>
                <% else %>
                  <%= icon('square') %>
                <% end %>
              </h1>
            </td>
            <td>
              <%= title.episode.episode_number %>
            </td>
            <td><%= title.episode.name %></td>
            <td><%= title.episode.air_date  %></td>
            <td><%= distance_of_time_in_words(title.episode.runtime) if title.episode.runtime %>
            <td>
              <%= link_to_movie_db_episode(@season.tv.the_movie_db_id, @season.season_number, title.episode.episode_number) %>
            </td>
            <td>
              <% if @disks.any? %>
                <%= select_tag 'episodes[][disk_title_id]',
                      options_from_collection_for_select(@disks.first.disk_titles, :id, :to_label, title.disk_title&.id), prompt: "Select Disk Title", data: { manage_selections_target: :input } %>
              <% end %>
            </td>
            <td>
              <% if @disks.any? %>
                <%= number_field_tag "episodes[][part]" %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td colspan="1"></td>
            <td colspan="8">
              <% title.episode.video_blobs.each do |video_blob| %>
                <p><%= video_blob.key %></p>
              <% end %>
            </td>
          </tr>
        <% end %>
    </tbody>
  </table>
  <% if @disks.any? %>
    <div class='bg-dark w-100 fixed-bottom mt-1 text-right p-3 border-top'>
      <%= f.button :submit, 'Rip Disk' %>
    </div>
  <% end %>
<% end %>
