<% disk_titles = @disks.first&.disk_titles || [] %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Search', root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @tv.name, tv_path(@tv) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @season.name %></li>
  </ol>
</nav>
<hr/>

<%= simple_form_for :episodes, url: rip_tv_season_path(@tv, @season), class: 'pb-4' do |f| %>
  <%= hidden_field_tag :disk_id, @disks.first&.id %>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Ripped</th>
        <th>Uploaded</th>
        <th>#</th>
        <th>Name</th>
        <th>Air Date</th>
        <th>Duration</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% selected_disk_titles = @season.ripped_disk_titles.map(&:id) %>
      <% @season.episodes.each do |episode| %>
        <% text_class = 'text-primary-emphasis' if episode.ripped_disk_titles.any? %>
        <%= hidden_field_tag('episodes[][id]', episode.id) %>
        <tr>
          <td class="<%= text_class %>">
            <%= imdb_image_tag episode.still_path, width: 100, height: 100 %>
          </td>
          <td class="text-center">
            <h1>
              <% if episode.ripped_disk_titles.any? %>
                <%= icon('square-check') %>
              <% else %>
                <%= icon('square') %>
              <% end %>
            </h1>
          </td>
          <td class="text-center">
            <h1>
              <% if episode.video_blobs.any?(&:uploaded?) %>
                <%= icon('square-check') %>
              <% else %>
                <%= icon('square') %>
              <% end %>
            </h1>
          </td>
          <td class="<%= text_class %>">
            <%= episode.episode_number %>
          </td>
          <td class="<%= text_class %>"><%= episode.name %></td>
          <td class="<%= text_class %>"><%= episode.air_date  %></td>
          <td class="<%= text_class %>"><%= distance_of_time_in_words(episode.runtime) if episode.runtime %>
          <td class="<%= text_class %>">
            <%
              selected_disk_title = disk_titles.find { episode.runtime_range.include?(_1.duration) && selected_disk_titles.exclude?(_1.id) } if episode.ripped_disk_titles.empty?
              selected_disk_titles << selected_disk_title.id if selected_disk_title
            %>
            <%= select_tag 'episodes[][disk_title_id]', options_from_collection_for_select(disk_titles, :id, :to_label, selected_disk_title&.id), prompt: "Select Disk Title" %>
          </td>
          <td class="<%= text_class %>">
            <%= link_to_movie_db_episode(@season.tv.the_movie_db_id, @season.season_number, episode.episode_number) %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <div class='bg-dark w-100 fixed-bottom mt-1 text-right p-3 border-top'>
      <%= f.button :submit, 'Rip Disk' %>
    </div>
  </table>
<% end %>
