<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Search', root_path %>
    </li>
    <li class="breadcrumb-item">
      <%= link_to @tv.name, tv_path(@tv) %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @season.name %></li>
  </ol>
</nav>
<hr/>
<%= simple_form_for :episodes, url: rip_tv_season_path(@tv, @season), class: 'pb-4', data: { controller: 'manage-selections' } do |f| %>
  <%= hidden_field_tag :disk_id, @disks.first&.id %>
  <table class="table table-hover table-responsive">
    <thead class="sticky-top bg-dark">
      <tr>
        <th></th>
        <th>Ripped</th>
        <th>Uploaded</th>
        <th>Name</th>
        <th>
          Title Select
          <small>
            <% if @tv.duration_stats.weighted_average %>
              (<%= distance_of_time_in_words(@tv.duration_range.min, 0, include_seconds: params[:debug] == 'true', scope: "datetime.distance_in_words.short") %>
              ..
              <%= distance_of_time_in_words(@tv.duration_range.max, 0, include_seconds: params[:debug] == 'true', scope: "datetime.distance_in_words.short") %>)

              <% if params[:debug] == 'true' %>
                <br>
                median: <%= distance_of_time_in_words @tv.duration_stats.median  %>
                <br>
                weighted average: <%= distance_of_time_in_words @tv.duration_stats.weighted_average  %>
                <br>
                weighted average difference: <%= distance_of_time_in_words @tv.duration_stats.weighted_average_difference %>
                <br>
                interquartile range: <%= distance_of_time_in_words(@tv.duration_stats.interquartile_range)  %>
                <br>
                median difference: <%= distance_of_time_in_words(@tv.duration_stats.median_difference)  %>
                <br>
                z score: <%= distance_of_time_in_words @tv.duration_stats.z_score %>
                <br>
                Durations: <%= @tv.ripped_disk_titles_durations.sort.uniq.join(', ') %>
                <br>
                Differences: <%= @tv.duration_stats.differences.join(', ') %>
              <% end %>
            <% end %>
          </small>
        </th>
        <th>Part</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
        <% EpisodeDiskTitleSelectorService.call(disk: @disks.first, episodes: @season.episodes).each do |title| %>
          <%= hidden_field_tag "episodes[][episode_id]", title.episode.id %>
          <tr>
            <td>
              <%= imdb_image_tag title.episode.still_path, width: 100, height: 100 %>
            </td>
            <td class="text-center">
              <h1>
                <% if title.ripped? %>
                  <%= icon('square-check') %>
                <% else %>
                  <%= icon('square') %>
                <% end %>
              </h1>
            </td>
            <td class="text-center">
              <h1>
                <% if title.uploaded? %>
                  <%= icon('square-check') %>
                <% else %>
                  <%= icon('square') %>
                <% end %>
              </h1>
            </td>

            <td>
              #<%= title.episode.episode_number %>
              <%= link_to_movie_db_episode(
                  @season.tv.the_movie_db_id,
                  @season.season_number,
                  title.episode.episode_number,
                  text: title.episode.name
                )
              %>
              <br/>
              <%= title.episode.air_date  %>
             </td>
            <td>
              <% if @disks.any? %>
                <%= select_tag 'episodes[][disk_title_id]',
                      options_from_collection_for_select(@disks.first.disk_titles.sort_by { _1.segment_map.sum }, :id, :to_label, title.disk_title&.id), prompt: "", data: { manage_selections_target: :input }, class: 'form-select mb-2' %>
              <% end %>
              <% if title.episode.duration_stats.weighted_average %>
                <%= distance_of_time_in_words(title.episode.duration_stats.weighted_average, 0) %>
              <% elsif @season.duration_stats.weighted_average%>
                <%= distance_of_time_in_words(@tv.duration_stats.weighted_average, 0) %>
              <% elsif title.episode.runtime %>
                <%= distance_of_time_in_words(title.episode.runtime, 0) %>
              <% end %>
            </td>
            <td>
              <% if @disks.any? %>
                <%= number_field_tag "episodes[][part]", nil, class: 'form-control' %>
              <% end %>
            </td>
          </tr>

        <% end %>
    </tbody>
  </table>
  <% if @disks.any? %>
    <div class='bg-dark w-100 fixed-bottom mt-1 text-right p-3 border-top'>
      <%= f.button :submit, 'Rip Disk' %>
    </div>
  <% end %>
<% end %>
