<%= simple_form_for config_plex, url: config_plex_path do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%= f.simple_fields_for :settings, f.object.settings do |settings_form| %>
    <%= settings_form.input :movie_path, autofocus: true, required: true %>
    <%= settings_form.input :tv_path, required: true %>
    <%= settings_form.input :ftp_username, required: false %>
    <%= settings_form.input :ftp_host, required: false %>
    <%= settings_form.input :ftp_password, required: false %>
  <% end %>
  <div class='bg-dark w-100 fixed-bottom mt-1 text-right p-3 border-top'>
    <%= f.button :submit %>
  </div>
<% end %>
