<p id="notice"><%= notice %></p>

<h1>Config Plexes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @config_plexes.each do |config_plex| %>
      <tr>
        <td><%= link_to 'Show', config_plex %></td>
        <td><%= link_to 'Edit', edit_config_plex_path(config_plex) %></td>
        <td><%= link_to 'Destroy', config_plex, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Config Plex', new_config_plex_path %>
