<div class="col-lg-6 col-sm-12 mb-2">
  <div class="card text-white bg-dark h-100">
    <div class="row">
      <div class="col-4">
        <%= imdb_image_tag video.poster_path, klass: 'img-fluid card-img-top' %>
        <% if video.new_record? %>
          <%= link_to 'Select', movies_path(the_movie_db_id: video.the_movie_db_id), method: :post, class: 'btn btn-outline-light w-100 rounded-0' %>
        <% else %>
          <%= link_to 'Select', video, class: 'btn btn-outline-light w-100 rounded-0' %>
        <% end %>
      </div>
      <div class="col-8 pl-3 pt-3">
        <div class="card-body p-0">
          <h5 class="card-title">
            <%= video.is_a?(Tv) ? icon('tv', type: 'fas') : icon('film', type: 'fas') %>
            <%= video.title %>
          </h5>
          <small class='text-muted'><%= video.original_title %></small>
          <p class="card-text"><%= video.overview %></p>
          <p class="card-text">
            <small class="text-muted">
              <%= video.release_or_air_date %>
              <% if video.is_a?(Tv) %>
                <%= link_to_movie_db_tv video.the_movie_db_id %>
              <% else %>
                <%= link_to_movie_db_movie video.the_movie_db_id %>
              <% end %>
            </small>
          </p>
          <p>
        </div>
      </div>
    </div>
    <% if video.credits.cast.any? %>
      <div class="row no-gutters mt-auto">
        <div class="col-12 pt-4">
          <h4 class="border-bottom">Cast</h4>
        </div>
        <% video.credits.cast.sort_by(&:popularity).reverse.take(6).each do |cast| %>
          <div class="col-2">
            <div class="card rounded-0">
              <%= imdb_image_tag cast.profile_path, height: 170, klass: 'card-img-top' %>
              <h6 class="card-title text-dark" style="height: 40px;">
                <%= cast.name %>
              </h6>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
