<%= simple_form_for :search, method: :get do |f| %>
  <%= f.input :query, autofocus: true, required: false %>
<% end %>
<div class='row'>
  <% @search.results.results.select { |x| ['movie', 'tv'].include?(x.media_type) }.each do |result| %>
    <div class="card mb-3 col-md-6 text-white bg-dark col-md-6">
      <div class="row no-gutters">
        <div class="col-md-4">
          <%= image_tag "https://image.tmdb.org/t/p/w500/#{result.poster_path}", class: "card-img-top" %>
        </div>

        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">
              <a class='btn btn-outline-primary'>Select</a>
              <% if result.media_type == 'tv' %>
                <i class="fas fa-tv"></i>
              <% else %>
                <i class="fas fa-film"></i>
              <% end %>
              <%= result.title || result.name %>
            </h5>
            <small class='text-muted'><%= result.original_title %></small>
            <p class="card-text"><%= result.overview %></p>
            <p class="card-text"><small class="text-muted"><%= result.release_date || result.first_air_date %></small></p>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
