<%= render 'search' %>
<div class='row'>
  <% if @search.results.results.blank? %>
    <div class='col-md-12'>
      <div class="jumbotron jumbotron-fluid rounded">
        <div class='container'>
          <h1 class="display-4">Getting Started</h1>
          <p class="lead">Get started by typing in the name of the TV show or movie.</p>
        </div>
      </div>
    </div>
  <% end %>
  <% @search.results.results.to_a.select { |x| ['movie', 'tv'].include?(x.media_type) }.each do |result| %>
    <div class="card col-6 text-white bg-dark p-0">
      <div class="row no-gutters">
        <div class="col-4 mb-3">
          <%= imdb_image_tag result.poster_path %>
          <% if result.media_type == 'tv' %>
            <%= link_to 'Select', tvs_path(tv: { the_movie_db_id: result.id }), method: :post, class: 'btn btn-outline-primary w-100 rounded-0' %>
          <% else %>
            <%= link_to 'Select', movies_path(movie: { the_movie_db_id: result.id }), method: :post, class: 'btn btn-outline-primary w-100 rounded-0' %>
          <% end %>
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">
              <%= result.media_type == 'tv' ? icon('tv', type: 'fas') : icon('film', type: 'fas') %>
              <%= result.title || result.name %>
            </h5>
            <small class='text-muted'><%= result.original_title %></small>
            <p class="card-text"><%= result.overview %></p>
            <p class="card-text">
              <small class="text-muted">
                <%= result.release_date || result.first_air_date %>
                <% if result.media_type == 'tv' %>
                  <%= link_to_movie_db_tv result.id %>
                <% else %>
                  <%= link_to_movie_db_movie result.id %>
                <% end %>
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
