
<%= render ProcessComponent.new dom_id: dom_id do |c| %>
  <%= c.with_body do %>
    <% if message.present? %>
      <p><%= message %></p>
    <% elsif LoadDiskWorker.job.active? && disks_loading.any? %>
      <% disks_loading.each do |disk| %>
        <span>Loading <%= disk.name %> ...</span>
      <% end %>
    r<% elsif disks_not_ejected.any? %>
      <% disks_not_ejected.each do |disk| %>
        <p class="mb-0">
          <%= link_to disk.name, the_movie_dbs_path(search: { query: disk.name.titleize }) %> is ready to be ripped. <%= link_to 'eject', eject_disk_path(disk), data: { turbo_method: :post } %>
        </p>
      <% end %>
    <% else %>
      <span>No disks found - insert disk to continue</span>
    <% end %>
  <% end %>
<% end %>
