<div class="bg-process" id="<%= dom_id %>">
  <div class="header"><%= title %></div>
  <% if link %>
    <div class="body"><%= body %></div>
    <div class="link"><%= link %></div>
  <% else %>
    <div class="body"><%= body %></div>
  <% end %>
</div>
