<%= render ProcessComponent.new dom_id: dom_id do |c| %>
  <%= c.with_title do %>
    Scan Plex Status
  <% end %>
  <%= c.with_body do %>
    <% if job_active? %>
      Scanning <%= ftp_host %> for movies and tv shows...
    <% else %>
      <span>Done! you have a total of <%= pluralize(Movie.count, 'movie') %> & <%= pluralize(Tv.count, 'tv show') %> on plex.</span>
    <% end %>
  <% end %>
<% end %>
