<% if hidden? %>
  <div id="<%= dom_id %>" class="hidden"></div>
<% else %>
  <%= render ProcessComponent.new dom_id: dom_id, hidden: hidden? do |c| %>
    <%= c.with_title do %>
      Upload Status
    <% end %>
    <%= c.with_body do %>
      <% if uploadable_video_blobs.any? || uploaded_recently_video_blobs.any? %>
        <% blobs = uploadable_video_blobs.map { [_1, find_job_by_video_blob(_1)] } %>
        <% blobs.sort_by { _2.present? ? 1 : 2 }.each do |blob, video_blob_job| %>
          <%=
            render(
              ProgressBarComponent.new(
                show_percentage: video_blob_job.present?,
                status: :info,
                completed: video_blob_job&.completed,
                message: video_blob_job ? "Uploading #{link_to_video(blob)}" : "Pending #{link_to_video(blob)} ##{blob.id}",
                eta: video_blob_job&.metadata&.fetch('eta', nil),
                progress: [
                  video_blob_job&.metadata&.fetch('progress', nil),
                  video_blob_job&.metadata&.fetch('rate', nil)
                ].compact_blank.join(' ')
              )
            )
          %>
          <hr>
        <% end %>

        <% uploaded_recently_video_blobs.each do |blob| %>
          <%=
            render(
              ProgressBarComponent.new(
                show_percentage: false,
                status: :success,
                completed: 100,
                message: "Uploaded #{link_to_video(blob)}"
              )
            )
          %>
        <% end %>
      <% else %>
        <span>Nothing is being uploaded to <%= ftp_host %> </span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
