<%= render ProcessComponent.new dom_id: dom_id do |c| %>
  <%= c.with_title do %>
    Upload Status
  <% end %>
  <%= c.with_body do %>
    <% if uploadable_video_blobs.any? || uploaded_recently_video_blobs.any? %>
      <% uploaded_recently_video_blobs.each do |blob| %>
        <%=
          render(
            ProgressBarComponent.new(
              completed: 100,
              status: :success,
              message: "Uploaded #{blob.title}"
            )
          )
        %>
      <% end %>
      <% uploadable_video_blobs.each do |blob| %>
        <%=
          video_blob_job = find_job_by_video_blob(blob)
          render(
            ProgressBarComponent.new(
              show_percentage: video_blob_job.present?,
              status: :info,
              message: video_blob_job ? "Uploading #{blob.title}" : "Pending upload #{blob.title}",
              eta: (eta if video_blob_job)
            )
          )
        %>
      <% end %>
    <% else %>
      <span>Nothing is being uploaded to <%= ftp_host %> </span>
    <% end %>
  <% end %>
<% end %>
