<% if @video %>
  <div data-controller="video-progress" data-target="video-progress.card" class="card border-info mb-3" data-controller="video-progress" data-video-id="<%= @video.id %>" data-type="<%= @video.class.name %>">
    <div>VideoProgress</div>
    <% @mkv_progresses.each do |mkv_progress| %>
      <p><%= mkv_progress.name %></p>
      <p>Percentage Completed: <%= mkv_progress.percentage %></p>
    <% end %>
    <%= CreateMovieWorker.job.pending? %>
    <button data-target="video-progress.create" data-action="click->video-progress#create" data-url="<%= build_disk_path %>" class='btn btn-primary'>Create Movie</button>
  </div>
<% end %>
