<%= render SearchComponent.new %>
<div class="row no-gutters">
  <div class="col-3 text-center">
    <%= imdb_image_tag @movie.poster_path, klass: 'img-poster', width: 400 %>
  </div>
  <div class="col-9">
    <div class="card-body">
      <h5 class="card-title">
        <%= icon('film', type: 'fas') %>
        <%= @movie.title %>
      </h5>
      <small class='text-muted'><%= @movie.original_title %></small>
      <p class="card-text"><%= @movie.overview %></p>
      <p class="card-text">
        <small class="text-muted">
          <%= @movie.release_or_air_date %>
          <%= link_to_movie_db_movie @movie.the_movie_db_id %>
        </small>
      </p>
      <% @movie.video_blobs.uploadable.uploaded.each do |blob| %>
        <p><%= blob.key %></p>
      <% end %>
      <p class="text-primary-emphasis">Blue Means the disk title is within the runtime range of the movie.</p>
      <p class="text-success-emphasis">Gream Means the disk has been ripped before.</p>
    </div>
  </div>
</div>
<div id='disk-selector'>
  <%= render MovieTitleTableComponent.new(disks: @disks, movie: @movie) %>
</div>
