<nav aria-label="breadcrumb" class="sticky-top pt-3 bg-dark p-1">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <%= link_to 'Search', root_path %>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><%= @tv.name %></li>
  </ol>
</nav>

<%= render SearchComponent.new(submit_on_key_up: false) %>

<div class="display-flex">
  <% @tv.seasons.each do |season| %>
    <div class="width-225 m-1">
      <%= link_to tv_season_path(@tv, season), class: 'btn img-poster-btn p-1 mb-2', data: { turbo: false, disable_with: 'Loading...' } do %>
        <%= imdb_image_tag season.poster_path, klass: 'img-poster', width: 200 %>
      <% end %>

      <h6 class="card-title height-60">
        <%= link_to_movie_db_seasons @tv.the_movie_db_id, season.season_number, text: season.name %>
      </h6>
    </div>
  <% end %>
</div>
