<%= simple_form_for config_the_movie_db, url: config_the_movie_db_path do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <%= f.simple_fields_for :settings, f.object.settings do |settings_form| %>
    <%= settings_form.input :api_key, autofocus: true, required: true %>
    <div class='mb-3'>
      <%= link_to 'The Movie DB API Key', 'https://www.themoviedb.org/settings/api', target: '_blank' %>
    </div>
  <% end %>
  <div class='bg-dark w-100 fixed-bottom mt-1 text-right p-3 border-top'>
    <%= f.button :submit %>
  </div>
<% end %>
