<% content_for :sidebar do %>
  <div class="bg-process">
    <div class="header">
      <h4>
        <%= @job.name.titleize %>
        <small class="text-muted"><%= @job.status %></small>
      </h4>
      <% if @job.started_at %>
        <div class="mb-2">
          Started At: <%= @job.started_at.to_fs(:usa_pretty)%>
        </div>
      <% end %>
    </div>
    <div class="body">
      <% metadata = @job.metadata.reject { _1 == 'message' } %>
      <% if @job.arguments.present? || metadata.present? || @job.errored? %>
        <% if @job.arguments.present? %>
          <div class="mini-console">
            <div class="console">
              <div class='title'>Arguments</div>
              <% @job.arguments.each do |key, value| %>
                <p class="pl-0"><%= key %>: <%= value %></p>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if metadata.present? %>
          <div class="mini-console">
            <div class="console">
              <h5 class="title">Metadata</h5>
              <% @job.metadata.each do |key, value| %>
                <p class="pl-0"><%= key %>: <%= value %></p>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @job.errored? %>
          <div class="mini-console">
            <div class='title text-danger'>
              <%= @job.error_class %>
              <%= @job.error_message %>
            </div>
            <% if @job.backtrace.any? %>
              <div class="console">
                <% @job.backtrace.each do |trace| %>
                  <% next unless trace.include?(Rails.root.to_s) %>
                  <p><%= trace.gsub(Rails.root.to_s, 'ROOT').strip %></p>
                <% end %>
              </div>
            <% end %>
          </div>
          <% if @job.backtrace.any? %>
            <div class="mini-console">
              <div class='title'>Full Trace</div>
              <div class="console">
                <% @job.backtrace.each do |trace| %>
                  <p><%= trace.strip %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        No Metadata or Backtrace info to show
      <% end %>
    </div>
  </div>
<% end %>
<div class="console-content" data-controller="console">
   <%= render JobMessageComponent.new(job: @job) %>
</div>
