<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td>
          <% if  current_user != user %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }  %>
          <% else %>
            Current User
          <% end %>
        </td>
        <td>
          <% if current_user != user %>
            <%= link_to 'Login As', login_user_path(user) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
