
<%= simple_form_for config_make_mkv, url: config_make_mkv_path do |f| %>
  <div class='row'>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.input :settings_makemkvcon_path, autofocus: true %>
    <%= f.input :settings_registration_key, required: true %>
    <div class='col-3 text-center w-100 mt-3'>
      <%= image_tag 'mkv_icon.png' %>
      <%= link_to install_config_make_mkv_path, class: 'btn btn-success' do %>
        <%= icon 'compact-disc' %>
        Install MKV
      <% end %>
    </div>
    <div class='bg-dark w-100 mt-1 text-right p-3 border-top'>
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
