<div class="bg-processes">
  <%= render ProcessComponent.new worker: ScanPlexWorker do |c| %>
    <%= c.with_body do %>
      <% if ScanPlexWorker.job.pending? %>
        <%=
          render(
            ProgressBarComponent.new(
              model: Movie,
              completed: (ScanPlexWorker.job.worker.completed.zero? ? 20 : ScanPlexWorker.job.worker.completed),
              status: :success,
              message: 'scanning plex for movies',
              show_percentage: false
            )
          )
        %>
      <% else %>
        <span>Done! you have a total of <%= pluralize(Video.count, 'video') %> on plex.</span>
      <% end %>
    <% end %>
  <% end %>

  <%= render ProcessComponent.new worker: LoadDiskWorker do |c| %>
    <%= c.with_body do %>
      <% if LoadDiskWorker.job.pending? %>
        <span>Loading the disk info</span>
      <% elsif (disks = FindExistingDisksService.call).any? %>
        <span><%= disks.map(&:name).join(', ') %> is ready to be ripped.</span>
      <% else %>
        <span>No disks found</span>
      <% end %>
    <% end %>
  <% end %>
  <%= render ProcessComponent.new worker: UploadWorker do |c| %>
    <%= c.with_body do %>
      <% if UploadWorker.job.pending? %>

        <%=
          render(
            ProgressBarComponent.new(
              model: DiskTitle,
              show_percentage: false,
              status: :info,
              message: 'upload in progress'
            )
          )
        %>
      <% else %>
        <span>Nothing is being uploaded to <%= Config::Plex.newest.settings_ftp_host %> </span>
      <% end %>
    <% end %>
  <% end %>
</div>
