<main role="main">
  <div class="row">
    <% if content_for?(:sidebar) %>
      <div id="sidebar" class="col-3">
        <%= yield :sidebar %>
        <%= render "layouts/bg_processes", classes: nil %>
      </div>
    <% else %>
      <%= render "layouts/bg_processes", classes: ['fixed', 'compact'] %>
    <% end %>

    <div id="content" class="col-<%= content_for?(:sidebar) ? 9 : 12 %>">
      <%= bootstrap_alerts %>
      <%= yield %>
    </div>
  </div>
</main>
