<header>
  <div>
    <nav class="nav justify-content-center">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
      <%= link_to 'The Movie DB', modify_config_the_movie_db_path, class: 'nav-link' %>
      <%= link_to 'Plex', modify_config_plex_path, class: 'nav-link' %>
      <%= link_to 'Make MKV', modify_config_make_mkv_path, class: 'nav-link' %>
      <%= link_to 'Jobs', jobs_path, class: 'nav-link' %>
    </nav>
  </div>
</header>
