<header>
  <div>
    <nav class="nav justify-content-center">
      <%= link_to 'Home', root_path, class: 'nav-link' %>
      <%= link_to 'The Movie DB', modify_config_the_movie_db_path, class: 'nav-link' %>
      <%= link_to 'Plex', modify_config_plex_path, class: 'nav-link' %>
      <%= link_to 'Make MKV', modify_config_make_mkv_path, class: 'nav-link' %>
      <%= link_to 'Users', users_path, class: 'nav-link' %>
      <%= link_to 'Jobs', jobs_path, class: 'nav-link' %>
      <% if current_user %>
        <%= link_to current_user.name, user_path(current_user), class: 'nav-link' %>
      <% end %>
      <span class="nav-link">
        <%= number_to_human_size(free_disk_space, precision: 3) %> / <%= number_to_human_size(total_disk_space, precision: 3) %>
      </span>

    </nav>
  </div>
</header>
