<!DOCTYPE html>

<html lang='en' class='<%= light_dark_mode %>'>
  <head>
    <title>Plex The Ripper</title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="d-flex w-100 h-90 mx-auto flex-column">
      <%= bootstrap_alerts %>

      <main role="main" class="inner mb-auto"><%= yield %></main>

      <footer>
        <%= render 'layouts/header' %>
        <div class="inner">
        </div>
      </footer>
    </div>
  </body>
</html>
