<!DOCTYPE html>

<html lang='en' data-bs-theme="<%= light_dark_mode %>">
  <head>
    <title>Plex The Ripper</title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="d-flex w-100 flex-column">
      <%= render 'layouts/header' %>

      <main role="main" class="inner p-3">
        <div class="col-12 row">
          <div class="col-4">
            <%= render 'layouts/bg_progress' %>
          </div>
          <div class="col-8">
            <%= bootstrap_alerts %>
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
