<!DOCTYPE html>

<html lang='en' data-bs-theme="<%= light_dark_mode %>">
  <head>
    <title>Plex The Ripper</title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="bg-processes">
      <%= render ProcessComponent.new worker: ScanPlexWorker do |c| %>
        <%= c.with_body do %>
          <% if ScanPlexWorker.job.pending? %>
            <%=
              render(
                ProgressBarComponent.new(
                  model: Movie,
                  completed: (ScanPlexWorker.job.worker.completed.zero? ? 20 : ScanPlexWorker.job.worker.completed),
                  status: :success,
                  message: 'scanning plex for movies',
                  show_percentage: false
                )
              )
            %>
          <% else %>
            <span>Done! you have a total of <%= pluralize(Video.count, 'video') %> on plex.</span>
          <% end %>
        <% end %>
      <% end %>

      <%= render ProcessComponent.new worker: LoadDiskWorker do |c| %>
        <%= c.with_body do %>
          <% if LoadDiskWorker.job.pending? %>
            <span>Loading the disk info</span>
          <% elsif (disks = FindExistingDisksService.call).any? %>
            <span><%= disks.map(&:name).join(', ') %> is ready to be ripped.</span>
          <% else %>
            <span>No disks found</span>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="d-flex w-100 h-90 mx-auto flex-column">
      <%= render ToastComponent.new do |c| %>
        <%= c.body do %>
          testing
        <% end %>
      <% end %>
      <%= render 'layouts/header' %>

      <main role="main" class="inner p-3 h-100"><%= yield %></main>
    </div>
  </body>
</html>
