<!DOCTYPE html>

<html lang='en' data-bs-theme="<%= light_dark_mode %>">
  <head>
    <title>Plex The Ripper</title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="d-flex w-100 flex-column">
      <%= render 'layouts/header' %>
      <main role="main" class="row p-3">
        <div class="col-4 p-2">
          <% if content_for? :sidebar_before %>

            <div class="sidebar-before">
              <%= yield :sidebar_before %>
            </div>
          <% end %>
          <%= render 'layouts/bg_progress' %>
          <% if content_for? :sidebar_after %>
            <div class="sidebar-after">
              <%= yield :sidebar_after %>
            </div>
          <% end %>
        </div>
        <div class="col-8">
          <%= bootstrap_alerts %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>
