<!DOCTYPE html>

<html lang='en' class='<%= light_dark_mode %>'>
  <head>
    <title>Plex The Ripper</title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="d-flex w-100 h-100 p-3 mx-auto flex-column">
      <%= render 'layouts/header' %>
      <%= bootstrap_alerts %>

      <main role="main" class="inner cover mb-auto">
        <div class='row'>
          <div class='col-md-2'>
            <%= render DiskCardComponent.new(disks: disks) %>
            <%= render VideoProgressComponent.new(video: Movie.first) %>
          </div>
          <div class='col-md-10'>
            <%= yield %>
          </div>
        </div>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
      </footer>
    </div>
  </body>
</html>
