<!DOCTYPE html>

<html lang='en'  data-bs-theme="<%= light_dark_mode %>">
  <head>
    <title>Plex The Ripper</title>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <div class="d-flex w-100 h-90 mx-auto flex-column">
      <%= render ToastComponent.new do |c| %>
        <%= c.body do %>
          testing
        <% end %>
      <% end %>
      <%= render 'layouts/header' %>

      <main role="main" class="inner p-3 h-100"><%= yield %></main>
    </div>
  </body>
</html>
